.AddTask {
  margin: 2px 2px;
  padding: 7px 0;
}

.AddTask label {
  font-size: 12px;
}

.AddTask input[type="text"] {
  margin: 0 0 2px 0;
  font-size: 14px;
  width: 100%;
  border: 0 none #fff;
  border-bottom: 1px dotted #bbb;
}

.AddTask button {
  float: right;
}

.AddTask .clearfix {
  display: inline-block;
}